In [72]:
import pandas as pd
import numpy as np
import os

In [74]:
df_movies=pd.read_csv(r"P:\CarrerFoundy\Data Immersion (deep learning)\Exercise 6\Execrise 6.1\Data Set\IMDb Movie Database.csv")

In [76]:
df_movies.describe()

,Unnamed: 2,Lead Actor FB Likes,Cast FB Likes,Director FB Likes,Movie FB Likes,IMDb Score (1-10),Total Reviews,Duration (min),Gross Revenue,Budget
count,3725.000000,3722.000000,3725.000000,3725.000000,3725.000000,3725.000000,3724.000000,3724.000000,3.725000e+03,3.725000e+03
mean,2002.786040,7464.728103,11050.561611,793.286443,8614.911678,6.463732,159.881042,109.774705,4.972798e+07,4.436692e+07
std,9.930944,15532.581521,18958.306272,3055.021574,20792.133048,1.058898,122.419180,22.849153,6.818220e+07,2.268511e+08
min,1920.000000,0.000000,0.000000,0.000000,0.000000,1.600000,1.000000,34.000000,1.620000e+02,2.180000e+02
25%,1999.000000,713.000000,1784.000000,10.000000,0.000000,5.900000,71.000000,95.000000,6.409206e+06,9.000000e+06
50%,2004.000000,1000.000000,3785.000000,58.000000,171.000000,6.600000,131.000000,105.000000,2.683000e+07,2.350000e+07
75%,2010.000000,12000.000000,15716.000000,221.000000,10000.000000,7.200000,217.000000,120.000000,6.445932e+07,5.000000e+07
max,2015.000000,640000.000000,656730.000000,23000.000000,349000.000000,9.300000,813.000000,330.000000,7.605058e+08,1.221550e+10

# Data Type

In [24]:
# check for mixed type
for col in df_movies.columns.tolist():
  weird = (df_movies[[col]].map(type) != df_movies[[col]].iloc[0].apply(type))
  if len (df_movies[weird]) > 0:
    print (col)

Title
Release Date
Unnamed: 2
Color/B&W
Genre
Language
Country
Geo Area
Rating
Lead Actor
Director Name
Lead Actor FB Likes
Cast FB Likes
Director FB Likes
Movie FB Likes
IMDb Score (1-10)
Total Reviews
Duration (min)
Gross Revenue
Budget

In [28]:
# Fix data types for each column
df_movies['Title'] = df_movies['Title'].astype(str)
df_movies['Release Date'] = pd.to_datetime(df_movies['Release Date'], errors='coerce')  # Handle invalid dates
df_movies['Unnamed: 2'] = df_movies['Unnamed: 2'].astype(str)  # Keeping the data type flexible since its purpose is unclear
df_movies['Color/B&W'] = df_movies['Color/B&W'].astype(str)
df_movies['Genre'] = df_movies['Genre'].astype(str)
df_movies['Language'] = df_movies['Language'].astype(str)
df_movies['Country'] = df_movies['Country'].astype(str)
df_movies['Geo Area'] = df_movies['Geo Area'].astype(str)
df_movies['Rating'] = df_movies['Rating'].astype(str)
df_movies['Lead Actor'] = df_movies['Lead Actor'].astype(str)
df_movies['Director Name'] = df_movies['Director Name'].astype(str)

In [30]:
# Fix numeric columns
df_movies['Lead Actor FB Likes'] = pd.to_numeric(df_movies['Lead Actor FB Likes'], errors='coerce')
df_movies['Cast FB Likes'] = pd.to_numeric(df_movies['Cast FB Likes'], errors='coerce')
df_movies['Director FB Likes'] = pd.to_numeric(df_movies['Director FB Likes'], errors='coerce')
df_movies['Movie FB Likes'] = pd.to_numeric(df_movies['Movie FB Likes'], errors='coerce')
df_movies['IMDb Score (1-10)'] = pd.to_numeric(df_movies['IMDb Score (1-10)'], errors='coerce')
df_movies['Total Reviews'] = pd.to_numeric(df_movies['Total Reviews'], errors='coerce')
df_movies['Duration (min)'] = pd.to_numeric(df_movies['Duration (min)'], errors='coerce')
df_movies['Gross Revenue'] = pd.to_numeric(df_movies['Gross Revenue'], errors='coerce')
df_movies['Budget'] = pd.to_numeric(df_movies['Budget'], errors='coerce')

In [32]:
# Display the first few rows to verify changes
print(df_movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3726 entries, 0 to 3725
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                3726 non-null   object
 1   Release Date         3725 non-null   datetime64[ns]
 2   Unnamed: 2           3726 non-null   object
 3   Color/B&W            3726 non-null   object
 4   Genre                3726 non-null   object
 5   Language             3726 non-null   object
 6   Country              3726 non-null   object
 7   Geo Area             3726 non-null   object
 8   Rating               3726 non-null   object
 9   Lead Actor           3726 non-null   object
 10  Director Name        3726 non-null   object
 11  Lead Actor FB Likes  3722 non-null   float64
 12  Cast FB Likes        3725 non-null   float64
 13  Director FB Likes    3725 non-null   float64
 14  Movie FB Likes       3725 non-null   float64
 15  IMDb Score (1-10)    3725 non-null   float64
 16  Total Reviews        3724 non-null   float64
 17  Duration (min)       3724 non-null   float64
 18  Gross Revenue        3725 non-null   float64
 19  Budget               3725 non-null   float64
dtypes: datetime64[ns](1), float64(9), object(10)
memory usage: 582.3+ KB
None

# Missing Values

In [78]:
df_movies.isnull().sum()

Title                   0
Release Date            0
Unnamed: 2              0
Color/B&W               0
Genre                   0
Language                3
Country                 0
Geo Area                1
Rating                 49
Lead Actor              3
Director Name           0
Lead Actor FB Likes     3
Cast FB Likes           0
Director FB Likes       0
Movie FB Likes          0
IMDb Score (1-10)       0
Total Reviews           1
Duration (min)          1
Gross Revenue           0
Budget                  0
dtype: int64

In [80]:
# Replace null values in the 'Rating' column with 'Not Rated'
df_movies['Rating'] = df_movies['Rating'].fillna('Not Rated')

In [82]:
df_movies['Language'].mode()

0    English
Name: Language, dtype: object

In [84]:
# Replace null values in the 'Language' column with 'English'
df_movies['Language'] = df_movies['Language'].fillna('English')

In [86]:
df_movies['Lead Actor'].mode()

0    Robert De Niro
Name: Lead Actor, dtype: object

In [88]:
# Replace null values in the 'Lead Actor' column with mode value
df_movies['Lead Actor'] = df_movies['Lead Actor'].fillna('Robert De Niro')

In [90]:
# Identify the Facebook Likes columns
fb_likes_columns = [
    'Lead Actor FB Likes',
    'Cast FB Likes',
    'Director FB Likes',
    'Movie FB Likes'
]
# Replace null values in the Facebook Likes columns with 0
df_movies[fb_likes_columns] = df_movies[fb_likes_columns].fillna(0)

In [62]:
# Replace null values in the 'Total Reviews' column with the average value
df_movies['Total Reviews'] = df_movies['Total Reviews'].fillna('average()')

In [64]:
# Replace null values in the 'Duration (min)' column with the average value
df_movies['Duration (min)'] = df_movies['Duration (min)'].fillna('average()')

In [94]:
df_movies.isnull().sum()

Title                  0
Release Date           0
Unnamed: 2             0
Color/B&W              0
Genre                  0
Language               0
Country                0
Geo Area               1
Rating                 0
Lead Actor             0
Director Name          0
Lead Actor FB Likes    0
Cast FB Likes          0
Director FB Likes      0
Movie FB Likes         0
IMDb Score (1-10)      0
Total Reviews          1
Duration (min)         1
Gross Revenue          0
Budget                 0
dtype: int64

# Duplicates

In [97]:
# Find duplicate titles
duplicate_titles = df_movies[df_movies['Title'].duplicated()]

# Display the duplicate titles
print(f"Number of duplicate titles: {duplicate_titles.shape[0]}")
print(duplicate_titles)

Number of duplicate titles: 0
Empty DataFrame
Columns: [Title, Release Date, Unnamed: 2, Color/B&W, Genre, Language, Country, Geo Area, Rating, Lead Actor, Director Name, Lead Actor FB Likes, Cast FB Likes, Director FB Likes, Movie FB Likes, IMDb Score (1-10), Total Reviews, Duration (min), Gross Revenue, Budget]
Index: []

# Rename

In [103]:
# Replace "New Line" with "New Zealand" in the Country column
df_movies['Country'] = df_movies['Country'].replace('New Line', 'New Zealand')

In [107]:

# Replace "NC-17" with "Approved" in the Rating column
df_movies['Rating'] = df_movies['Rating'].replace('NC-17', 'Approved')

In [109]:
# Replace "PG-13" with "PG" in the Rating column
df_movies['Rating'] = df_movies['Rating'].replace('PG-13', 'PG')

In [111]:
# Replace "Unrated" with "Not Rated" in the Rating column
df_movies['Rating'] = df_movies['Rating'].replace('Unrated', 'Not Rated')

# Export the clean data set

In [116]:
df_movies.to_csv(r'P:\CarrerFoundy\Data Immersion (deep learning)\Exercise 6\Execrise 6.1\Clean Data Set\Movies.csv')